*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#site{
    background-image: url("site.png");
    background-size: 100%;
    width: 1011.68px;
    height: 404.1px;
}
.weekDays{
    width: 143.3px;
    height: 47.82px;
}

.days{
    width: 143.3px;
    height: 71.65px;
    text-align: center;
    text-justify: inherit;
}

